---
/* eslint-disable @typescript-eslint/no-explicit-any */

import Layout from './Layout.astro'
// import type { MarkdownLayoutProps } from 'astro'

const { frontmatter } = Astro.props
const { title: pageTitle, author, pubDate, tags } = frontmatter
let date
if (pubDate) {
	date = new Date(pubDate).toLocaleDateString()
}
---

<Layout {pageTitle}>
	<h1>{pageTitle}</h1>
	{author && <p>Written by: {author}</p>}
	{date && <p>Published on: {date}</p>}
	{
		tags && (
			<div class="flex flex-row gap-2">
				{tags.map((tag: any) => (
					<a href={`/tags/${tag}`} class="btn btn-secondary btn-xs">
						{tag}
					</a>
				))}
			</div>
		)
	}

	<slot />
</Layout>
